.voting {
  display: flex;
  flex-direction: column;
}

.up {
  margin-bottom: 0.5rem;
}

.down {
}

.vote {
  background: none;
  border: none;
  cursor: pointer;
}

.vote:disabled {
  cursor: inherit;
}
